<launch>

    <!-- Load the URDF/Xacro model of our robot -->
    <param name="robot_description" command="$(find xacro)/xacro.py '$(find hdt_common)/urdf/mk2.URDF'" />

    <!-- Launch Rviz -->
    <node pkg="rviz" type="rviz" name="rviz" />

    <!-- Provide simulated control of the robot joint angles -->
    <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher" />
    <param name="/use_gui" value="True" />
    
    <!-- Publish the robot state -->
    <node name="robot_state_publisher" pkg="robot_state_publisher" type="state_publisher">
    <param name="publish_frequency" value="20.0"/>
    </node>
 
</launch>
