<?xml version='1.0' encoding='ASCII'?>
<launch>
  <include file="$(find mk2_torso_arm_description_arm_navigation)/launch/mk2_torso_arm_description_planning_environment.launch"/>
  <node pkg="arm_kinematics_constraint_aware" type="arm_kinematics_constraint_aware" name="mk2_torso_arm_description_mk2_right_arm_kinematics">
    <param name="group" type="string" value="mk2_right_arm"/>
    <param name="mk2_right_arm/root_name" type="string" value="torso_roll_link"/>
    <param name="mk2_right_arm/tip_name" type="string" value="right_wrist_roll_link"/>
    <param name="kinematics_solver" type="string" value="mk2_torso_arm_description_mk2_right_arm_kinematics/IKFastKinematicsPlugin"/>
    <param name="OLDkinematics_solver" type="string" value="arm_kinematics_constraint_aware/KDLArmKinematicsPlugin"/>
  </node>
</launch>
