<launch>
    <node pkg="move_arm" type="move_arm_simple_action" name="mk2_torso_arm_description_move_right_end_effector">
        <param name="group" type="string" value="right_end_effector" />
        <remap from="arm_ik" to="mk2_torso_arm_description_right_end_effector_kinematics/get_constraint_aware_ik" />
        <param name="controller_action_name" type="string" value="right_end_effector_controller/follow_joint_trajectory" />
    </node>
</launch>
