<launch>

  <include file="$(find mk2_3dof_moveit_config)/launch/planning_context.launch">
    <arg name="load_robot_description" value="true"/>
  </include>

  <node name="joint_state_publisher" pkg="joint_state_publisher" type="joint_state_publisher">
    <param name="/use_gui" value="false"/>
  </node>
  
  <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher" respawn="true" output="screen" />

  <include file="$(find mk2_3dof_moveit_config)/launch/move_group.launch">
    <arg name="allow_trajectory_execution" value="false"/>
  </include>

  <include file="$(find mk2_3dof_moveit_config)/launch/moveit_rviz.launch">
    <arg name="config" value="true"/>
  </include>

  <include file="$(find mk2_3dof_moveit_config)/launch/default_warehouse_db.launch" />

  <node pkg="tf" type="static_transform_publisher" name="world_base_broadcaster" args="0 0 1.5 0 0 0 /world /torso_base_link 100" />
  <node pkg="tf" type="static_transform_publisher" name="arm_camera_broadcaster" args="0 0 0 0 0 0 /link_7 /camera_link 100" />

</launch>
