<!--xml-->
<launch>
  <node ns="camera" pkg="usb_cam" type="usb_cam_node" name="usb_cam" output="screen">
    <param name="image_width" type="int" value="320" />
    <param name="image_height" type="int" value="240" />
    <param name="framerate" type="int" value="30" />
    <param name="video_device" type="string" value="/dev/video0" />
    <param name="camera_frame_id" type="string" value="goose_camera" />
  </node>

  <node pkg="bridgeCV" type="bridgeCV_example" name ="EllipseCV"/> 
</launch>
