<!--xml-->
<launch>
  <node ns="camera" pkg="uvc_camera" type="camera_node" name="uvc_camera" output="screen">
    <param name="width" type="int" value="320" />
    <param name="height" type="int" value="240" />
    <param name="fps" type="int" value="30" />
    <param name="device" type="string" value="/dev/video0" />
  </node>

  <node pkg="bridgeCV" type="bridgeCV_example" name ="EllipseCV"/> 
</launch>
